{% load static %}
{% load transaction_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar fixed-top bg-palette-one navbar-dark">
        <div class="container-xl">
            <div class="navbar-brand">
                <h1 class="fw-bold text-success">
                    BalancedBudget
                    <i class="bi bi-bank2"></i>
                </h1>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="flex-fill bg-white">
        <section>
            <div class="container-lg">
                <div class="row">
                    <h1 class="text-center">Terms of Use</h1>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Effective Date: 09/15/2025</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Eligibility</h5>
                                    You must be at least 18 years old (or the age of majority in your jurisdiction) to use this service.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>User Responsibilities</h5>
                                    <ul>
                                        <li>
                                            You are responsible for maintaining the confidentiality of your account login information.
                                        </li>
                                        <li>
                                            You agree not to share false, misleading, or unlawful financial data.
                                        </li>
                                        <li>
                                            You must use the platform in compliance with applicable laws and regulations.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Financial Disclaimer</h5>
                                    This service is intended as a personal finance management tool. We do not provide professional financial, tax, or investment advice. You are solely responsible for financial decisions you make based on the information provided.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Limitation of Liability</h5>
                                    We are not liable for any losses, damages, or issues arising from:
                                    <ul>
                                        <li>
                                            Errors in data you provide
                                        </li>
                                        <li>
                                            Decisions made based on information generated by the platform
                                        </li>
                                        <li>
                                            Unauthorized access to your account despite reasonable security measures
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Termination</h5>
                                    We may suspend or terminate accounts that violate these Terms of Use or compromise the security and integrity of the platform.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Changes to These Terms</h5>
                                    We may revise these Terms of Use at any time. Updated terms will be posted on this page with an updated “Effective Date.”
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-palette-one">
        <div class="container-xl border-top p-2">
            <div class="text-center">
                <a href="{% url 'terms' %}" class="me-3">Terms of Use</a>
                <a href="{% url 'privacy' %}">Privacy Policy</a>
                <div class="text-light">&copy; 2025 Michael Grimsley. All rights reserved.</div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>