{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>{App Name}</h1>
    </header>
    <div class="container">
        <button class="button" id="toggle-theme">🌙</button>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h2>Register</h2>
            {% if error %}
                <p class="feedback" id="feedback">{{error}}</p>
            {% endif %}
            <div class="spinner hidden" id="spinner"></div>
            {{form.username}}
            {{form.password}}
            {{form.password_confirm}}
            <button class="button" type="submit">Register</button>
        </form>
        <p>Have an account? <a href="{% url 'login' %}">Login Here</a></p>
    </div>
    <footer>
        <p>&copy; Grimsley 2025</p>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
