/* Temp Fixes */
html {
  background-color: #17171c;
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.card {
  margin: 10px 0;
}

/* Landing Page Styles */
section {
  padding: 60px 0;
}
#login .form-control {
  margin: 10px 0;
}
.link {
  cursor: pointer;
}
.hidden {
  display: none;
}


/* Dashboard Styles */
.modal .form-control, .modal .input-group-text {
  margin: 10px 0;
}

/* Transaction List Styles */
td.text-truncate {
  max-width: 100px;
}
