{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Add Transaction</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a class="button" href="{% url 'home' %}">{App Name}</a></h1>
        <a class="button" id="dashboard" href="{% url 'dashboard' %}">Dashboard</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="button" type="submit" id="logout">Logout</button>
        </form>
    </header>
    <div class="container">
        <button class="button" id="toggle-theme">🌙</button>
        <h2>Add Transaction</h2>
        <form method="POST" id="form" class="auth-form">
            {% csrf_token %}
            {{form.title}}
            {{form.amount}}
            {{form.transaction_type}}
            {{form.category}}
            <button class="button" type="submit">Add</button>
            <a href="{% url 'transaction_list' %}">Cancel</a>
        </form>
    </div>
    <footer>
        <p>&copy; Grimsley 2025</p>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/category.js' %}"></script>
</body>
</html>
